[submodule "anim8"]
	path = anim8
	url = https://github.com/kikito/anim8
[submodule "bump.lua"]
	path = bump
	url = https://github.com/kikito/bump.lua
[submodule "hump"]
	path = hump
	url = https://github.com/vrld/hump
[submodule "inspect.lua"]
	path = inspect
	url = https://github.com/kikito/inspect.lua
